<!--
  ! README
  ! Ignore Errors, it's because of EJS's incompatibility
-->

<div class="project-card">
  <div class="sub-card intro">

    <div class="top">
      <div class="left">

        <% let projectTitleArray = project.title.split(" ") %>
        <div class="title
          <%= (project.title.length > 15 || projectTitleArray[projectTitleArray.length - 1].length > 7) ? "small" : "" %>
        ">
          <!-- Making last word bold -->
          <%= projectTitleArray.slice(0, projectTitleArray.length - 1).join(" ") %><br>
          <strong><%= projectTitleArray[projectTitleArray.length - 1] %></strong>
        </div>
        
        <!--Status-->
        <% if (project.status) { %>
          <div class="status completed">Completed</div>
        <% } else { %>
          <div class="status ongoing">Ongoing</div>
        <% } %>

      </div>

      <div class="right">
        <img src="<%= project.img %>" alt="<%= project.title %>">
      </div>
        
    </div>

    <div class="mid">
      <%= project.description[0] %>
    </div>

    <div class="bottom"></div>

  </div>
  
  <div class="sub-card info">

    <div class="top">
      <div class="left">
        <div class="title">More<br><strong>Details</strong></div>
      </div>
    </div>


    <div class="mid">
      <%= project.description.slice(1, project.description.length).join(" ") %>
    </div>

    <div class="bottom"></div>

  </div>

  <div class="sub-card members">

    <div class="top">
      <div class="left">
        <div class="title"><strong>Members</strong></div>
      </div>
    </div>

    <div class="mid">
      <% if(project.members.mentors.length > 0) { %>
        <div class="mentors">
          <div class="title">Mentors</div>
          
          <% project.members.mentors.forEach( mentor => { %>
            <div class="member mentor">
              <% if (mentor.username) { %>
                <a class="member-name" href="/user/public-profile/<%= mentor.username %>"><%= mentor.name %></a>
              <% } else { %>
                <a class="member-name" href="#"><%= mentor.name %></a>
              <% } %>
            </div>
          <% }) %>
        </div>
      <%}%>


      
      <% if(project.members.developers.length > 0) { %>
        <div class="developers">
          <div class="title">Developers</div>
          
          <% project.members.developers.forEach( developer => { %>
            <div class="member developer">
              <% if (developer.username) { %>
                <a class="member-name" href="/user/public-profile/<%= developer.username %>"><%= developer.name %></a>
              <% } else { %>
                <a class="member-name" href="#"><%= developer.name %></a>
              <% } %>
            </div>
          <% }) %>
        </div>
      <%}%>
    </div>

    <div class="bottom"></div>

  </div>

  <div class="sub-card tech-stack">

    <div class="top">
      <div class="left">
        <div class="title">Tech<br><strong>Stack</strong></div>
      </div>
    </div>

    <div class="mid">
      <% project.techStack.forEach( tech => { %>
        <div class="tech <%= tech.toLowerCase().replace(/\s/g, "") %>"><%= tech %></div>
        <!--?The Reg Ex in Replace removes all spaces in the word -->  
      <% }) %>
    </div>

    <div class="bottom"></div>

  </div>

  <div class="icons">
    <div class="icon icon-click info" onclick="toggle(<%=projectIndex%>, 1)">
      <span class="iconify-inline" data-icon="uil:info"></span>
    </div>

    <div class="icon icon-click members" onclick="toggle(<%=projectIndex%>, 2)">
      <span class="iconify-inline" data-icon="mdi:account-group"></span>
    </div>

    <div class="icon icon-click tech-stack" onclick="toggle(<%=projectIndex%>, 3)">
      <span class="iconify-inline" data-icon="eva:code-outline"></span>
    </div>

    <div class="icon link">
      <a href="<%= project.link %>" rel="noreferrer" target="_blank">
        <span class="iconify-inline" data-icon="eva:link-fill"></span>
      </a>
    </div>
  </div>

</div>