<%
  /* !!! 
   * On Changes to events
   * Change $no-of-items in index_event_schedule.scss to match events.length 
   */

  /**
   * Catgories (exactly copy these):
   * android
   * flutter
   * gcp
   * web
   * uiux
   * misc
  */
  let events = [
    {
      name: "Intro to Git & Github",
      duration: "Aug 18 - Aug 19, 2021",
      category: "web"
    },
    {
      name: "Flutter Bootcamp",
      duration: "Sept 2 - Sept 4, 2021",
      category: "flutter"
    },
    {
      name: "Intro to Cloud",
      duration: "Sept 11 - Sept 12, 2021",
      category: "gcp"
    },
    {
      name: "Info Session on Google Cloud",
      duration: "Sept 27, 2021",
      category: "misc"
    },
    {
      name: "30 Days of Google Cloud",
      duration: "Sept 27 - Oct 29 , 2021",
      category: "gcp"
    },
    {
      name: "Info Session on Spark AR",
      duration: "Oct 12, 2021",
      category: "uiux"
    },
    {
      name: "Design Challenge",
      duration: "Oct 13 - Oct 21, 2021",
      category: "uiux"
    },
    {
      name: "Switch to Backend",
      duration: "Oct 19 - Oct 21, 2021",
      category: "web"
    },
    {
      name: "Android Study Jams",
      duration: "Oct 29 - Dec 29, 2021",
      category: "flutter"
    },
    {
      name: "Orientation for Batch",
      duration: "Dec 1st Week (Tentative), 2021",
      category: "misc"
    },
    {
      name: "GSDC Explore 2022",
      duration: "Jan 12 - Jan 15, 2022",
      category: "misc"
    },
  ]
%> 

<section id="schedule" class="section">
  <div class="title">Timeline</div>
  
  <!--Left and Right buttons for movement-->
  <!--These don't exist in mobile view-->
  <div class="navigation">
    <div class="navigation-item go-left">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="navigation-item go-right">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <!--
    In either top or bottom, alternate elements are filled with content
    while others are blank elements with same width and height

    Top has even indices filled with content, while bottom has odd ones.

    In middle there's a line, with the dots at centres of divs with same
    width as elements with content.

    Each element also has a line-to-timeline which extends from element to
    meet the dot on the line in middle
  -->
  <div id="timeline-wrapper">
    <div class="timeline">
      <div class="timeline-container up-container">
  
        <!--Alternate Items at Top-->
        <% for(let i = 0; i<events.length; i++) { %>

          <% if(i%2 == 0) {%>
            <div class="timeline-item up up-item">
            
              <div class="logo logo-<%= events[i].category %>">
                <img src="/img/project-icons/<%= events[i].category %>.svg" alt="<%= events[i].name %> ">
              </div>
              
              <div class="text">
                <div class="name <%= (events[i].name.length > 15) ? 'small' : 'large' %>"><%= events[i].name%></div>
                <div class="duration"><%= events[i].duration %></div>
              </div>
              
              <div class="line-to-timeline <%= events[i].category %>"></div>
    
            </div>
          <% } else { %>
            <div class="timeline-item blank up-blank"></div>
          <% } %>

        <% } %> 
  
  
      </div>
  
      <!-- Line of Timeline -->
      <div class="line">
  
        <div class="new-session">
          <img src="/img/logo/DSC-trans-new.png" alt="DSC"/>
  
          <div class="text">
            Start of new session
          </div>
        </div>
  
        <% for(let i = 0; i<events.length; i++) { %>
          <div class="line-item">
            <div class="line-circle <%= events[i].category %>"></div>
          </div>
        <% } %>
      </div>
  
      <div class="timeline-container down-container">
        
        <!--Alternate Items at Botthom--> 
        <% for(let i = 0; i<events.length; i++) { %>
          <% if(i%2 == 1) {%>
            <div class="timeline-item down down-item">
  
              <div class="line-to-timeline <%= events[i].category %>"></div>
    
              <div class="logo logo-<%= events[i].category %>">
                <img src="/img/project-icons/<%= events[i].category %>.svg" alt="<%= events[i].name %> ">
              </div>
              
              <div class="text">
                <div class="name <%= (events[i].name.length > 15) ? 'small' : 'large' %>"><%= events[i].name%></div>
                <div class="duration"><%= events[i].duration %></div>
              </div>
            </div>
          <% } else { %> 
            <div class="timeline-item blank down-blank"></div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
</section>

<script src="/js/index/timeline.js"></script>