
    <div class="events-list-box">
      <!-- <div class="events-list-item">
        <div class="event-date"><strong>NOV 12, 2021 - </strong> SESSION / TECH TALK - VIRTUAL</div>
        <div class="event-name">Info Session on Spark AR</div>
        <div class="event-tags">
          <ul>
            <li>AR/VR</li>
            <li>GDSC</li>
            <li>Web Development</li>
          </ul>
        </div>
        <p>Augmented Reality is the future. Using AR effects to increase the reach and engage fans, customers, clients is the new norm for top global artists, brands, and companies. In collaboration with GDSC, Reskilll x Spark AR will conduct an info session on Spark AR, on 12th Nov, Friday, 6:30 PM. Speaker- Kshitiz Saini, Associate Developer, Reskilll technologies.</p>
        <img src="/img/profile/profile_demo.png">
        <button>View Details</button>
      </div> -->
      <% if( upcomingEvents[0]) upcomingEvents.forEach(event=>{%>
        <div class="events-list-item live">
          <div class="event-date"><strong><%= event.date%> - </strong> <%= event.title.subHeading%></div>
          <div class="event-name"><%= event.title.heading%></div>
          <div class="event-tags">
            <ul>
              <% event.tags.forEach((tag)=>{%>
                <li><%=tag%></li>
              <%})%>
            </ul>
          </div>
          <p><%= event.description%></p>
          <img src="<%=event.img%>">
          
          <button onclick="window.open('<%=event.link%>', '_blank')">View Details</button>
        </div>
        <%})%>
      <%if(!upcomingEvents[0]){%>
        <h4 style="text-align: center;">No upcoming events.</h4>
        <%}%>
    </div>
