<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="DSC NIT Silchar is under Developer Students Club, which is a
    worldwide developers community initiated by Google.The DSC NITS website is open for
    all student developers, who wish to improve their skills.
    Each user has separate profile page, where one can add his/her skills,
    projects and accomplishments."
    />
    <meta
      name="keywords"
      content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
    Profile, Forum, Events, Developers, NIT Silchar"
    />
    <title>DSC NITS | Blogs</title>
 

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="/css/index/colors.css" />
    <link rel="stylesheet" href="/css/blogs/blogs.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
    <link rel="stylesheet" href="/css/index/footer.css" />
 
  </head>

  <body>
    <!-- ----------------------------  Navigation ---------------------------------------------- -->
    <%-include('partials/navbar')%>
    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>

    <div class="blog-banner">
        <img class="blog-backdrop" src="/img/illustrations/blogs-backdrop.svg">
        <div class="blog-search-bar">
          <img src="/img/icons/search-2.png">
          <input type=text placeholder="Search Blogs">
        </div>
    </div>
    <div class="best-blogs-container">
      <div class="best-blogs-header">
          <a href="/blog/create"><img src="/img/icons/create.png"></a>
          <h3>Best Blogs</h3>
      </div>  
      <div class="best-blogs-list-box">
<!-- 
        <div class="best-blogs-list-item">
          <div class="blog-rank">01</div>
          <div class="blog-profile">
            <img src="/img/profile/profile_demo.png">
            <a>Profile 1</a>
          </div>
          <div class="blog-title"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero error corrupti expedita sunt saepe quisquam architecto sint nemo odit.</a></div>
          <div class="blog-date">7 Oct 2021</div>
        </div> -->

        <% popularBlogs.forEach((blog, index)=>{%>
          <div class="best-blogs-list-item">
            <div class="blog-rank"><%='0' + (index+1)%></div>
            <div class="blog-profile">
              <img src="<%=blog.author.profileImageLocation || '/img/profile/person.png'%>">
              <a href="/user/public-profile/<%= blog.author.dscHandle %>"><%=blog.author.name%></a>
            </div>
            <div class="blog-title"><a href="/blog/view/<%=blog.slug%>">
                <%=blog.title.slice(0,30) + (blog.title.length>30?'...':'')%>
            </a></div>
            <div class="blog-date"><%=blog.createdAt.toUTCString().slice(5, 16)%></div>
          </div>
        <%}) %>

      </div>
    </div>
    <hr/>
    <div class="blog-container">
      <div class="blog-sort">
        <h4>
          Sort by:
        </h4>
        <ul>
          <li><button name="most-popular">Most Popular</button></li>
          <li><button name="most-viewed">Most Viewed</button></li>
          <li><button name="latest">Latest</button></li>
          <li><button name="oldest">Oldest</button></li>
        </ul>
      </div>
      <div class="blog-list-box" id="blog-list">
        <!-- <div class="blog-list-item">
          <div class="blog-profile">
            <img src="/img/profile/profile_demo.png">
            <a>Profile 1</a>
          </div>
          <div class="blog-title"><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero error corrupti expedita sunt saepe quisquam architecto sint nemo odit.</a></div>
          <div class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum iusto, aliquid quis excepturi quia cupiditate nulla et cum officiis, ut exercitationem quam minima fuga neque!</div>
          <div class="blog-date">7 Oct 2021</div>
          <img src = "/img/illustrations/about.jpg" class="blog-thumbnail">
        </div> -->
        <!-- <% newBlogs.forEach((blog, index)=>{%>
         <div class="blog-list-item">
          <div class="blog-profile">
            <img src="/img/profile/profile_demo.png">
            <a><%=blog.author.name%></a>
          </div>
          <div class="blog-title"><a><%=blog.title.slice(0,50) + (blog.title.length>50?'...':'')%></a></div>
          <div class="blog-text"><%=blog.body.slice(0,150) + (blog.body.length>150?'...':'')%></div>
          <div class="blog-date">7 Oct 2021</div>
          <img src = "<%=blog.cover%>" class="blog-thumbnail">
        </div>
        <%}) %> -->

  
      </div>
        
      <div class="blog-tags">
          <h4>Search by Tags</h4>
          <ul>
            <li><button>Kotlin</button></li>
            <li><button>Java</button></li>
            <li><button>Data Science</button></li>
            <li><button>Quantum Computer</button></li>
            <li><button>HTML</button></li>
            <li><button>CSS</button></li>
            <li><button>Javascript</button></li>
            <li><button>Android</button></li>
            <li><button>UI/UX</button></li>
          </ul>
      </div>
    </div>


    <!---------------x------------- Main Site Section ---------------x-------------->
   
    <!-- --------------------------- Footer ---------------------------------------- -->
    <%-include('partials/footer')%>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file
    <script src="/js/blogs/Jquery3.4.1.min.js"></script> -->

    <!-- --------- Owl-Carousel js ------------------->
    <!-- <script src="/js/blogs/owl.carousel.min.js"></script> -->

    <!-- ------------ AOS js Library  ------------------------- -->
    <!-- <script src="/js/blogs/aos.js"></script> -->

    <!-- Custom Javascript file -->
    <script src="/js/navbar.js"></script>
    <script src="/js/blogs/blogs_search.js"></script>
    <script src="/js/blogs/blogs_main.js"></script>
    <script src="/js/darkmode.js"></script>
  </body>
</html>
